* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 배달의민족 한나체 Air;
}
.title {
    border: 1px solid black;
    width: 100%; height: 70px;
    background: #0377c5;
    color: white;
    font-size: 2rem;
    text-align: center;
    line-height: 70px;
}
.menu {
    border: 0px solid black;
    width: 100%; height: 250px;
    margin-top: 20px;
}
.menu div {
    width: 200px; height: 100%;
    border: 0px solid green;
    float: left;
}
.menu .left {
    width: 300px; 
}
.menu .left p {
    border: 1px solid #ccc;
    width: 100%; height: 50px;
    line-height: 50px;
    text-indent: 20px;
    cursor: pointer;
}
.menu .left p:hover {
    background: #0377c5;
    color: white;
}
.menu .right {
    width: 700px;
    border: 0px solid red;
    position: relative;
    top: 0; left: 0;
}
.menu .right div {
    border: 0px solid blue;
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.menu .right div .icon {
    border: 0px solid #ccc;
    width: 30%; height: 150px;
    font-size: 5rem;
    text-align: center;
    line-height: 150px;
    margin-top: 20px;
}
.menu .right div .icon_text {
    width: 30%; height: 40px;
    border: 0px solid black;
    text-align: center;
    line-height: 40px;
    font-size: 2rem;
    margin-top: -20px;
}
.menu .right div .icon_click1 {
    cursor: pointer;
}
.menu .right div .icon_click1:hover {
    background: #0377c5;
}
/* menu(대분류)에서 클릭 후 icon(중분류) 선택하면 content(소분류) 보이기 */
.content {
    border: 1px solid #ccc;
    position: absolute;
    top: 100px; left: 1000px;
    width: 900px; height: 700px;
    background: white;
    display: none;
}
.content .content_title {
    border: 0px solid rgb(255, 0, 0);
    width: 90%; height: 70px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
}
.content .content_title p {
    border: 0px solid green;
    border-radius: 20px;
    width: 20%; height: 80%;
    text-align: center;
    line-height: 56px;
    font-size: 2rem;
    cursor: pointer;
}
.content .content_title p:hover {
    background: #0377c5;
}
.content .content3_box {
    width: 100%; height: 50px;
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
}
.content .content3_box div {
    border: 1px solid red;
    border-radius: 20px;
    width: 20%; height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
}
.content .content3_box div:hover {
    background: skyblue;
}
.content3 .content3_img {
    border: 1px solid black;
    width: 100%; height: 500px;
    margin: 50px auto;
    background: url(../img/content_img1.jpg);
    background-size: 100% 100%;
}
.content3 .content3_img_text {
    border: 0px solid black;
    width: 500px; height: 30px;
    text-align: center;
    line-height: 30px;
    margin: -50px auto;
    font-size: 2rem;
}

/* 여기서부터 콘텐츠 4번 작업시작 */
.content4 {
    background: url(../img/content_img3.jpg);
    background-size: 100% 100%;
}

/* 여기서부터 콘텐츠 4번 작업 끝 */


.content .content15_box {
    border: 0px solid black;
    width: 90%; height: 500px;
    margin: 0 auto; 
    display: flex;
}
.content .content15_box div {
    border: 0px solid red;
    height: 100%;
    text-align: center;
}
.content .content15_box div:nth-child(1) {
    width: 70%;
}
.content .content15_box div:nth-child(2) {
    width: 30%;
}

.content .content15_box div img {
    width: 400px; height: 400px;
    margin-top: 50px;
}
.content .content15_box div p {
    border: 0px solid blue;
    width: 80%; height: 40px;
    line-height: 40px;
    text-align: left;
    margin: 20px auto;
}
.content4 {
    display: block;
}